{% extends "admincommon.html" %}
{% load static %}
{% block admintitle %}Addgallery{% endblock admintitle %}
{% block admincontents %}
<link rel="stylesheet" href="{% static "css/create_image1.css" %}">

<div class="created" style='background-image: url("{% static 'images/green7.jpg' %}");background-size: cover;background-repeat: no-repeat;background-position: center;width: 100%;background-attachment:fixed'>
  <p class="ur">Add Main Images</p>
<form class="add_image" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{forms.as_p}}
  <button type="submit" class="btn btn-danger">Add photo</button>
</form>
</div>
{% endblock admincontents %}